<h4><%= link_to "Posts", posts_path %></h4>
<p>New posts that show on the homepage</p>


<h4><%= link_to "Labels", labels_path %></h4>
<p>You can add labels to posts.</p>


<h4><%= link_to "Topics", topics_path %></h4>
<p>Topics are the types of labels that can be given.</p>