<div class="row project-thumbs">
	<div class="col-md-3">
		<div class="grid-box peru no-left-border">
			<a href="http://andwecoded.com/apps/peru"></a>
		</div>
	</div>
	<div class="col-md-3 no-left-padding">
		<div class="grid-box go-green">
			<a href="http://andwecoded.com/apps/gogreenglobal"></a>
		</div>
	</div>		
</div>
