/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 *= require font-awesome
 */

#footer {
	background-color: #eee;
	position: relative;
}

.twitter { 
	margin-bottom: .5em;
}

/* Bootstrap modifications */

.page-header {
	background-color: #eee;
	margin-top: 0 !important;
	margin-bottom: 10px !important;
}

.grey .active a,
.grey .active a:hover {
    color: #000 !important;
}

a {
	text-decoration: underline !important;
}

a:visited {
	color: #428bca !important;
}

.nav a {
	text-decoration: none !important;
}

.nav a:visited {
	color: #666 !important;
}

.nav a:hover {
	color: #428bca !important;
}

.nav {
	margin-bottom: 5px !important;
}

.label {
	margin-right: .25em !important;
}

.bottom-padded-col {
	padding-bottom: 1em !important;
}

.sml-margin-top {
	margin-top: 5px !important;
}