// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid-box {
	//background-color: red;
	height: 100px;
	padding: .5em;
}

.no-left-border { 
	border-left: none !important;
}

.peru {
	background-image: url(peru-blog-long.png);
}
.go-green {
	background-image: url(go-green-long.png);
}

@media (max-width: 992px) {
	.row {
		margin-bottom: 5px !important;
	}
}

@media (min-width: 768px) {
	.grid-box {
		//background-color: yellow;		
	}
}

@media (min-width: 992px) {
	// This switches the padding that is usually on each column
	// to the containing row. 
	.row {
		padding: 0 15px !important;
	}

	.project-thumbs > div {
		padding: 0 !important;
	}

	.grid-box {
		//background-color: green;
		height: 200px;		
		width: 100%;
		border: 5px solid white;
	}

	.peru { 
		background-image: url(peru-blog.png);
	}
	.go-green {
		background-image: url(go-green.png);	
	}

}

@media (min-width: 1200px) {
	.grid-box {
		//background-color: blue;	
		height: 250px;	
	}
}