<% @posts.each do |post| %>
	<div>
		<h3><strong><%= post.title %></strong> <small>Thu Nov 1, 2013 <span class="label label-primary">
			<% post.labels.each do |label| %>
				<%= Topic.find(label.topic_id).abbrev %>
			<% end %>
		</span></small></h3>
		<%= raw(post.text) %>						
	</div>
<% end %>