<% @posts.each do |post| %>
	<div>
		<h3><strong><%= post.title %></strong>
			<small>
				<%= l post.created_at, format: :short %>
				<% post.labels.each do |label| %>
					<span class="label label-primary">
						<%= Topic.find(label.topic_id).abbrev %>
					</span>
				<% end %>
			</small>
		</h3>
		<%= raw(post.text) %>						
	</div>
<% end %>