<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Blog</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1><code>And We Coded</code><small> and we had a really, really good time</small></h1>
			</div>
			<div class="row">
				<div class="col-md-8">
					<%= yield %>					
				</div>
				<div class="col-md-4">
					<ul class="list-group">			
						<li class="list-group-item">
							<span class="badge">1</span>
    						Hello World
						</li>
						<li class="list-group-item">
							<span class="badge">2</span>
    						ASP.net MVC 5
    					</li>
						<li class="list-group-item">
							<span class="badge">0</span>
    						Visual Studio Ultimate 2013
						</li>
						<li class="list-group-item">
							<span class="badge">0</span>
    						Collections.sort
						</li>
					</ul>
				</div>
			</div>			
		</div>
	</body>
</html>
