<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Blog</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1><code>And We Coded</code><small> and we had a really, really good time</small></h1>				
			</div>
			<ul class="nav nav-pills grey">
			  <li><a href="/blog"><i class="fa fa-home fa-fw"></i> Home</a></li>
			  <li><a href="/blog/projects"><i class="fa fa-folder-open fa-fw"></i> Projects</a></li>
			  <li><a href="/blog/scratchpads"><i class="fa fa-laptop fa-fw"></i> Scratch Pads</a></li>
			</ul>
			<%= content_for?(:content) ? yield(:content) : yield %>
			<div id="footer">
				<div class="container">
					<h6>Andwecoded.com was was created using <a href="http://rubyonrails.org/">Rails 4</a> and its source can be found on <i class="fa fa-github fa-fw fa-lg"></i> <a href="http://www.github.com">here</a>. 2013</h6>
				</div>
			</div>				
		</div>
	</body>
	<!-- Twitter follow button -->
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	</script>
	<!-- Google + follow button -->
	<script type="text/javascript">
	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/plusone.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
</html>
