<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Blog</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1><code>And We Coded</code><small> and we had a really, really good time</small></h1>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div>
						<h3><strong>Hello World</strong> <small>Thu Nov 1, 2013 <span class="label label-primary">New</span></small></h3>
						<%= yield %>
					</div>					
					<div>
						<h3><strong>ASP.Net MVC 5</strong> <small>Thu Nov 1, 2013 <span class="label label-default">ASP.Net</span></small></h3>
						<p>Is extremely interesting and similar to Rails. Working in the MS development stack has it's upsides but doesn't have that same <em>feel</em> that open source does.</p>
					</div>					
					<div>
						<h3><strong>Visual Studio Ultimate 2013</strong> <small>Thu Nov 1, 2013</small></h3>
						<p>Not sure why VS 2013 Ultimate isn't offered though Microsoft's regular pipelines. Fortunately, Premium is offered free through MSDNAA and is comparable to Ultimate in features. When I start to feel
						disappointed; I remember that it's free anyways..</p>
					</div>					
					<div>
						<h3><strong>Collections.sort</strong> <small>Thu Nov 1, 2013 <span class="label label-default">Java</span></small></h3>
						<p>Is very hard to beat. Unless you know something it doesn't know. Riddle, riddle, the cat played a fiddle...?</p>
						<pre>// Insertion sort &#10;sort (list, left, right) {&#10;&#09;// Do something here&#10;}</pre>
					</div>					
				</div>
				<div class="col-md-4">
					<ul class="list-group">			
						<li class="list-group-item">
							<span class="badge">1</span>
    						Hello World
						</li>
						<li class="list-group-item">
							<span class="badge">2</span>
    						ASP.net MVC 5
    					</li>
						<li class="list-group-item">
							<span class="badge">0</span>
    						Visual Studio Ultimate 2013
						</li>
						<li class="list-group-item">
							<span class="badge">0</span>
    						Collections.sort
						</li>
					</ul>
				</div>
			</div>			
		</div>
	</body>
</html>
